<! Django by default will look within a templates folder called registration for auth templates>
<! login template is called login.html>

{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <style>
        html,
        body {
            height: 100%;
        }

        .body-login {
            display: flex;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }

        .form-signin {
            max-width: 330px;
            padding: 15px;
        }

        .form-signin .form-floating:focus-within {
            z-index: 2;
        }

        .form-signin input[type="username"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>

    <div class="text-center body-login">
        <div class="form-signin w-100 m-auto">
            <form data-bitwarden-watching="1" method="POST">
                {% csrf_token %}
                <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
                <div class="form-floating">
                    {{ form.username }}
                </div>
                <div class="form-floating">
                    {{ form.password }}
                </div>
                <button class="w-100 btn btn-lg btn-primary mb-2">Sign in</button>
            </form>
        </div>
    </div>


{% endblock %}